article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'friendsFont';
  src: url("../assets/friendsFont.TTF"); }

body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center; }

.home {
  background-image: url("../assets/friendsTitle.jpg");
  background-position: top;
  background-size: cover;
  height: 100vh;
  text-align: center; }
  .home .home-btn {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Baloo Bhaina', cursive;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    background-color: #A9AEB2;
    border: 4px solid #FFF;
    border-radius: 10px;
    padding: 20px 35px;
    font-size: 30px;
    box-shadow: 10px 10px 5px rgba(192, 192, 192, 0.2); }

.quiz {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background: linear-gradient(rgba(171, 168, 178, 0.7), rgba(171, 168, 178, 0.7)), url("../assets/friendsCards.jpg");
  background-size: 50%; }
  .quiz form {
    padding: 20px; }
    .quiz form p:first-child {
      margin-top: 0;
      padding-top: 5%; }
    .quiz form p {
      font-family: "friendsFont", sans-serif;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-size: 50px;
      line-height: 2em; }
      .quiz form p span {
        color: #FCFCFC;
        border-bottom: 5px solid #000EFF; }
    .quiz form .container {
      text-align: center;
      padding: 10px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 20%; }
      .quiz form .container input[type="radio"] {
        display: none; }
      .quiz form .container label {
        font-family: 'Roboto', sans-serif;
        margin: 20px;
        text-transform: uppercase;
        padding: 20px 30px;
        border: 3px solid transparent;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
        width: auto;
        line-height: 1.2em; }
        .quiz form .container label img {
          width: 220px;
          height: 180px; }
      .quiz form .container label:hover {
        border: 3px solid #FFE503;
        cursor: pointer; }
      .quiz form .container input[type="radio"]:checked + label {
        transition: 0.5s ease-in-out;
        border: 3px solid #E03735;
        background-color: white; }
    .quiz form .third label, .quiz form .fourth label, .quiz form .fifth label, .quiz form .eighth label, .quiz form .ninth label, .quiz form .tenth label, .quiz form .eleventh label {
      width: 28%; }
    .quiz form input[type="submit"] {
      padding: 15px 30px;
      font-family: 'Baloo Bhaina', cursive;
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 10%;
      border: 5px solid #FFF;
      border-radius: 5px;
      background: beige;
      transition: 0.5s ease-in-out; }
    .quiz form input[type="submit"]:hover {
      background: #FFF;
      border: 5px solid beige; }
