@import 'partials/setup';

@import 'partials/variables';

 .wrapper{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.home{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/friendsFormal.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    text-align: center;

    .home-content{
        margin-top: 0;
        margin: 0 auto;
        padding: 10px;;
        display: flex;
        flex-direction: column;

        .who{
            margin-top: 0;
            font-family: $roboto;
            font-size: 30px;
            padding-top: 20%;
            color: #E9F1F7;
            text-transform: uppercase;
            font-weight: 0;
            letter-spacing: 2px;
        }
        img{
            margin: 30px;
        }

        .home-btn{
            margin: 0 auto;
            margin-top: 5%;
            font-family: $roboto;
            text-transform: uppercase;
            background-color: transparent;
            letter-spacing: 1px;
            // box-shadow: 8px 8px 5px rgba(192,192,192,0.2);
            padding: 1.05rem 2.75rem;
            color: #F0C808;
            font-size: 1.2rem;
            font-weight: 300;
            text-transform: uppercase;
            border-radius: 12rem;
            border: .2rem solid #FFF;
            -webkit-transition: color .3s,border .3s;
            transition: color .3s,border .3s;
        } 
        .home-btn:hover{
            color: #FFF;
            border: .2rem solid #F0C808;
        }
        .home-btn:focus{
            outline: none;
        }
    }

   
}
// rgba(171, 168, 178, 0.7),rgba(171, 168, 178, 0.7)
// rgba(136, 150, 171, 1)
.quiz{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../assets/friendsCards.jpg');
    background-size: 50%;

    form{
        padding: 20px;
        
        p:first-child{
            margin-top: 0;
            padding-top: 5%;
        }

        p{
                font-family: $friendsFont;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 50px;
                line-height: 2em;
                margin-bottom: 5%;
                color: #F0C808;

                span{
                    color: #FCFCFC;
                    border-bottom: 5px solid #000EFF;
                }

            }

        .container{
            text-align: center;
            border-radius: 5px;
            padding: 15px;
            display: flex;
            margin: auto;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20%;
            margin-top: 0;
            background-color: rgba(0, 0, 0, 0.8);
                    
            input[type="radio"]{
                display: none;
            }

            label{
                font-family: $roboto;
                margin: 20px;
                text-transform: uppercase;
                padding: 20px 30px;
                border: 3px solid transparent;
                font-size: 17px;
                border-radius: 10px; 
                transition: 0.3s ease-in-out;
                width: auto;
                line-height: 1.2em;
                color: white;
                display: flex;
                justify-content: space-around;
                flex-direction: column;


                img{
                    width: 220px;
                    height: 180px;
                }

            }
            label:hover{
                border: 3px solid #FCFCFC;
                cursor: pointer
            }
            input[type="radio"]:checked+label{
                transition: 0.1s ease-in-out;
                border: 3px solid #E03735;
                background-color: white;
                color: black;
            }
            
        }
        .third, .fourth, .fifth, .eighth, .ninth, .tenth, .eleventh{
            label{
                width: 28%;
            }
        }
        input[type="submit"]{
            margin: 0 auto;
            margin-bottom: 5%;
            font-family: $roboto;
            text-transform: uppercase;
            background-color: transparent;
            letter-spacing: 1px;
            // box-shadow: 8px 8px 5px rgba(192,192,192,0.2);
            padding: 1.05rem 2.75rem;
            color: #F0C808;
            font-size: 1.2rem;
            font-weight: 300;
            text-transform: uppercase;
            border-radius: 12rem;
            border: .2rem solid #FFF;
            -webkit-transition: color .3s,border .3s;
            transition: color .3s,border .3s;
        }
        input[type="submit"]:hover{
            color: #FFF;
            border: .2rem solid #F0C808;
        }

    }

}
.finalResults{
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-content {
            position: relative;
            background-color: #fefefe;
            margin: auto;
            padding: 0;
            border: 1px solid #888;
            width: 80%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s

            /* The Close Button */
            span{
                color: white;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .modal-header {
                padding: 2px 16px;
                background-color: #5cb85c;
                color: white;      
            }
        }
    }
}

            

// /* Add Animation */
// @-webkit-keyframes animatetop {
//     from {top:-300px; opacity:0} 
//     to {top:0; opacity:1}
// }

// @keyframes animatetop {
//     from {top:-300px; opacity:0}
//     to {top:0; opacity:1}
// }