@import 'partials/setup';

@import 'partials/variables';

 .wrapper{
    max-width: 1100px;
    width: 80%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
}

.home{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../assets/friendsFormal.jpg');
    background-position: top;
    background-size: cover;
    height: 100vh;
    text-align: center;

    .home-content{
        margin-top: 0;
        margin: 0 auto;
        padding: 20px;;
        display: flex;
        flex-direction: column;

        .who{
            margin-top: 0;
            font-family: $roboto;
            font-size: 30px;
            padding-top: 25%;
            color: #E9F1F7;
            text-transform: uppercase;
            font-weight: 0;
            letter-spacing: 2px;
        }
        img{
            margin: 30px;
        }
        // .friends{
        //     font-family: $friendsFont;
        //     letter-spacing: 1em;
        //     font-size: 70px;
        //     color: #E9F1F7;
        // }
            
        // #r:before, #e:after{
        //     background: #ED213A;
        //     content: "\A";
        //     width: 10px;
        //     height: 10px;
        //     border-radius: 50%;
        //     display: inline-block;
        //     margin: 0 10px;
        // }
        // #r:after, #d:before{
        //     background: #00ABE7;
        //     content: "\A";
        //     width: 10px;
        //     height: 10px;
        //     border-radius: 50%;
        //     display: inline-block;
        //     margin: 0 10px;
        // }
        // #e:before, #d:after{
        //     background: #FABC16;
        //     content: "\A";
        //     width: 10px;
        //     height: 10px;
        //     border-radius: 50%;
        //     display: inline-block;
        //     margin-top: -0%;

        .home-btn{
            margin: 0 auto;
            margin-top: 10%;
            font-family: $roboto;
            text-transform: uppercase;
            background-color: transparent;
            letter-spacing: 1px;
            box-shadow: 10px 10px 5px rgba(192,192,192,0.2);
            padding: 1.05rem 2.75rem;
            color: #F0C808;
            font-size: 1.2rem;
            font-weight: 300;
            text-transform: uppercase;
            border-radius: 12rem;
            border: .2rem solid #FFF;
            -webkit-transition: color .3s,border .3s;
            transition: color .3s,border .3s;
        } 
        .home-btn:hover{
            color: #FFF;
            border: .2rem solid #F0C808;
        }
    }

   
}
// rgba(171, 168, 178, 0.7),rgba(171, 168, 178, 0.7)
// rgba(136, 150, 171, 1)
.quiz{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background:linear-gradient( rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../assets/friendsCards.jpg');
    background-size: 50%;

    form{
        padding: 20px;
    
        p:first-child{
            margin-top: 0;
            padding-top: 5%;
        }

        p{
                font-family: $friendsFont;
                text-transform: uppercase;
                letter-spacing: 4px;
                font-size: 50px;
                line-height: 2em;
                margin-bottom: 5%;
                color: #F0C808;

                span{
                    color: #FCFCFC;
                    border-bottom: 5px solid #000EFF;
                }

            }

        .container{
            text-align: center;
            border-radius: 20px;
            padding: 15px;
            display: flex;
            margin: auto;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 20%;
            margin-top: 0;
            background-color: rgba(252, 252, 252, 0.5);
                    
            input[type="radio"]{
                display: none;
            }

            label{
                font-family: $roboto;
                margin: 20px;
                text-transform: uppercase;
                padding: 20px 30px;
                border: 3px solid transparent;
                font-size: 17px;
                border-radius: 20px; 
                transition: 0.5s ease-in-out;
                width: auto;
                line-height: 1.2em;


                img{
                    width: 220px;
                    height: 180px;
                }

            }
            label:hover{
                border: 3px solid #FFE503;
                cursor: pointer
            }
            input[type="radio"]:checked+label{
                transition: 0.5s ease-in-out;
                border: 3px solid #E03735;
                background-color: white;
            }
            
        }
        .third, .fourth, .fifth, .eighth, .ninth, .tenth, .eleventh{
            label{
                width: 28%;
            }
        }
        input[type="submit"]{
            padding: 15px 30px;
            font-family: 'Baloo Bhaina', cursive;
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 10%;
            border: 5px solid #FFF;
            border-radius: 5px;
            background: beige;
            transition: 0.5s ease-in-out;
        }
        input[type="submit"]:hover{
            background: #FFF;
            border: 5px solid beige; 
        }
    }

}